{% extends 'topbar.html' %}

{% load static %}

{% block analytics %}
<div class="container-fluid">
          <!-- Start Page Title -->
          <div class="row">
            <div class="col-12">
              <div class="page-title-box">
                <div class="page-title-right">
                  <form class="d-flex">
                    <div class="input-group">
                      <label for="dash-daterange"></label>
                      <input type="text" class="form-control form-control-light" id="dash-daterange">
                      <span class="input-group-text bg-primary border-primary text-white">
                        <i class="mdi mdi-calendar-range font-13"></i>
                      </span>
                    </div>
                    <a href="javascript: void(0)" class="btn btn-primary ms-2">
                      <i class="mdi mdi-autorenew"></i>
                    </a>
                  </form>
                </div>
                <h4 class="page-title">Analytics</h4>
              </div>
            </div>
          </div>
          <!-- End Page Title -->
          <!-- First row for the contents Start -->
          <div class="row">
            <!-- Width 100% column -->
            <div class="col-12">
              <!-- Height 100% -24px -->
              <div class="card card-h-100">
                <div class="card-body">
                  <div class="alert alert-warning alert-dismissible fade show mb-3" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    Property HY1xx is not receiving hits. Either your site is not receiving any sessions or it is not tagged correctly.
                  </div>
                  <!-- Chart nav -->
                  <ul class="nav float-end d-none d-lg-flex">
                    <li class="nav-item"><a href="#" class="nav-link text-muted" date-num="1">Today</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-muted" date-num="7">7d</a></li>
                    <li class="nav-item"><a href="#" class="nav-link active" date-num="15">15d</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-muted" date-num="31">1m</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-muted" date-num="365">1y</a></li>
                  </ul>
                  <h4 class="header-title mb-3">Sessions Overview</h4>
                  <!-- Chart Start -->
                  <div class="ltr">
                    <!-- Generate area chart by using demo.dashboard.js -->
                    <div id="sessions-overview" class="apex-charts mt-3" data-colors="#0acf97"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-4 col-lg-12">
              <div class="card card-h-100">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="header-title mb-3">Sessions By Browser</h4>
                    <div class="dropdown">
                      <a href="#" class="dropdown-toggle arrow-none card-drop p-0" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-dots-vertical"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-end">
                        <a href="javascript: void(0)" class="dropdown-item">Refresh Report</a>
                        <a href="javascript: void(0)" class="dropdown-item">Export Report</a>
                      </div>
                    </div>
                  </div>
                  <!-- Chart Start -->
                  <div class="ltr">
                    <!-- Generate a radar chart by using demo.dashboard.js -->
                    <div id="sessions-browser" class="apex-charts mt-3" data-colors="#727cf5"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-6">
              <div class="card card-h-100">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="header-title mb-3">Radial Bar Chart</h4>
                    <div class="dropdown">
                      <a href="#" class="dropdown-toggle arrow-none card-drop p-0" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-dots-vertical"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-end">
                        <a href="javascript: void(0)" class="dropdown-item">Refresh Report</a>
                        <a href="javascript: void(0)" class="dropdown-item">Export Report</a>
                      </div>
                    </div>
                  </div>
                  <!-- Chart Start -->
                  <div class="ltr">
                    <!-- Generate a radar chart by using demo.dashboard.js -->
                    <div id="radialbar" class="apex-charts mt-3" data-colors="#727cf5"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-6">
              <div class="card card-h-100">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="header-title mb-3">Location</h4>
                  </div>
                  <!-- Map Start -->
                  <div id="map" style="width: 100%; height: 100%;">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}

{% block analyticsjs %}
  <script src="{% static 'users/js/pages/demo.dashboard.js' %}"></script>
{% endblock %}