{% extends 'topbar.html' %}

{% load static %}

{% block home %}
<div class="container-fluid">
  <!-- Start Page Title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <h4 class="page-title">Welcome! {{ user.first_name }}</h4>
      </div>
    </div>
  </div>
  <!-- End Page Title -->
  <!-- First row for the contents Start -->
  <div class="row">
    <!-- Width 100% column -->
    <div class="col-12">
      <!-- Height 100% -24px -->
      <div class="card card-h-100">
        <div class="card-body">
          <div class="row">
            <div class="col-xxl-3 col-lg-4">
              <div class="pe-xl-3">
                <h5 class="m5-0 mb-3">Your Project</h5>
                <div class="app-search">
                  <!-- Search Form -->
                  <form>
                    <div class="mb-2 position-relative">
                      <input type="text" class="form-control" placeholder="search by name...">
                      <span class="mdi mdi-magnify search-icon"></span>
                    </div>
                  </form>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="pe-xl-3" data-simplebar="init" style="max-height: 535px;">
                    <div class="simplebar-wrapper" style="margin: 0px -24px 0px 0px;">
                      <div class="simplebar-height-auto-observer-wrapper">
                        <div class="simplebar-height-auto-observer"></div>
                      </div>
                      <div class="simplebar-mask">
                        <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                          <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: auto; overflow: hidden scroll;">
                            <div class="simplebar-content" style="padding: 0px 24px 0px 0px;">
                              <!-- Project item-->
                              <a href="javascript:void(0)" class="text-body">
                                <div class="d-flex mt-2 p-2">
                                  <div class="avatar-sm d-table">
                                    <span class="avatar-title bg-success-lighten rounded-circle text-success">
                                      <i class="uil uil-moonset font-24"></i>
                                    </span>
                                  </div>
                                  <div class="ms-2">
                                    <h5 class="mt-0 mb-0">
                                      Project Title
                                      <span class="badge badge-success-lighten ms-1">
                                        Project status
                                      </span>
                                    </h5>
                                    <p class="mt-1 mb-0 text-muted">
                                      ID: {{ user.username }}
                                    </p>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="simplebar-placeholder" style="width: auto; height: 546px"></div>
                    </div>
                    <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                      <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
                    </div>
                    <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
                      <div class="simplebar-scrollbar" style="height: 524px; transform: translate3d(0px, 0px, 0px); display: block;"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xxl-9 mt-4 mt-xl-0 col-lg-8">
              <div class="ps-xl-3">
                <div class="row">
                    <div class="col-auto">
                        <a href="javascript: void(0);" class="btn btn-success btn-sm mb-2">Add New Task</a>
                    </div>
                    <div class="col text-sm-end">
                        <div class="btn-group btn-group-sm mb-2" data-bs-toggle="buttons" id="modes-filter">
                            <label class="btn btn-primary d-none d-sm-inline-block">
                                <input class="btn-check" type="radio" name="modes" id="qday" value="Quarter Day"> Quarter Day
                            </label>
                            <label class="btn btn-primary">
                                <input class="btn-check" type="radio" name="modes" id="hday" value="Half Day"> Half Day
                            </label>
                            <label class="btn btn-primary">
                                <input class="btn-check" type="radio" name="modes" id="day" value="Day"> Day
                            </label>
                            <label class="btn btn-primary active">
                                <input class="btn-check" type="radio" name="modes" id="week" value="Week" checked=""> Week
                            </label>
                            <label class="btn btn-primary">
                                <input class="btn-check" type="radio" name="modes" id="month" value="Month"> Month
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col mt-3">
                    <!-- Gantt Chart -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}