{% extends 'base.html' %}

{% load static %}

{% block leftsidebar %}
<!-- === Left Sidebar Start ===-->
<div class="leftside-menu menuitem-active">
  <!-- LOGO -->
  <a href="/home" class="logo text-center logo-light">
    <span class="logo-sm">
      <img src="{% static 'users/images/logo_sm.png' %}" alt height="16">
    </span>
    <span class="logo-lg">
      <img src="{% static 'users/images/logo.png' %}" alt height="16">
    </span>
  </a>
  <!-- LOGO -->
  <a href="index.html" class="logo text-center logo-dark">
    <span class="logo-sm">
      <img src="{% static 'users/images/logo_sm_dark.png'%}" alt height="16">
    </span>
    <span class="logo-lg">
      <img src="{% static 'users/images/logo-dark.png' %}" alt height="16">
    </span>
  </a>
  <div class="h-100 show" id="leftside-menu-container" data-simplebar="init">
    <div class="simplebar-wrapper" style="margin: 0px;">
      <div class="simplebar-height-auto-observer-wrapper">
        <div class="simplebar-height-auto-observer"></div>
      </div>
      <div class="simplebar-mask">
        <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
          <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: 100%; overflow: hidden;">
            <div class="simplebar-content" style="padding: 0px;">
              <!-- Sidemenu -->
              <ul class="side-nav">
                <li class="side-nav-title side-nav-item">Navigation</li>
                <li class="side-nav-item">
                  <a data-bs-toggle="collapse" href="#sidebarDashboards" aria-expanded="false" aria-controls="sidebarDashboards" class="side-nav-link">
                    <i class="uil-home-alt"></i>
                    <span class="badge bg-success float-end">4</span>
                    <span> Dashboards </span>
                  </a>
                  <div class="collapse" id="sidebarDashboards">
                    <ul class="side-nav-second-level">
                      <li class="menuitem">
                        <a href="/home/dashboard/analytics/">Analytics</a>
                      </li>
                      <li class="menuitem">
                        <a href="/home/dashboard/projects/">Projects
                          <span class="badge rounded bg-danger font-10 float-end">New</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="side-nav-item">
                  <a data-bs-toggle="collapse" href="#sidebarUsers" aria-expanded="false" aria-controls="sidebarUsers" class="side-nav-link">
                    <i class="uil-user"></i>
                    <span> Users </span>
                  </a>
                  <div class="collapse" id="sidebarUsers">
                    <ul class="side-nav-second-level">
                      <li class="menuitem">
                        <a href="/home/users/">User List</a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
              <div class="help-box text-white text-center">
                <a href="javascript: void(0);" class="float-end close-btn text-white">
                  <i class="mdi mdi-close"></i>
                </a>
                <img src="{% static 'users/images/help-icon.svg' %}" height="90" alt="Helper Icon Image">
                <h5 class="mt-3">Unlimited Access</h5>
                <p class="mb-3">Upgrade to plan to get access to unlimited reports</p>
                <a href="javascript: void(0);" class="btn btn-secondary btn-sm">Upgrade</a>
              </div>
              <!-- end Help Box -->
              <!-- End Sidebar -->
              <div class="clearfix">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="simplebar-placeholder" style="width: auto; height: 1204px"></div>
    </div>
    <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
      <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
    </div>
    <div class="simplebar-track simplebar-vertical" style="visibility: hidden;">
      <div class="simplebar-scrollbar" style="height: 0px; display: none;"></div>
    </div>
  </div>
  <!-- Sidebar -left -->
</div>
<!-- Left Sidebar End-->
{% endblock %}